/*ESTILOS GERAIS DA PÁGINA
---------------------------*/

.flexible {
    display: flex;
}

div {
    display: inline-block;
}

ul {
    list-style: none;
}

main {
    width: 769px;
    height: 1022px;
    background:#F3F2EE;
}

/*ESTILOS DO HEADER
-------------------*/

header {
   /*posicionamento*/ 
   position: relative;

   /*visualização*/
   width: 768px;
   height: 59px;
   background:#FFFFFF;
}

#imgIn {
    /*visualização*/
    width: 34px;
    height: 34px;
}

#divIn {
    /*posicionamento*/
    position: absolute;
    top: 13px; 
    left: 27px; 

    /*visualização*/
    width: 277px;
    height: 34px;

}

#imgLoupe {
    /*posicionamento*/
    position: absolute;
    top: 10.5px;
    left: 15px;

    /*visualização*/
    width: 11px;
    height: 11px;

}

.inputSearch {
    /*posicionamento*/
    position: absolute;
    left: 34px;
    top: 11.5px;

    /*visualização*/
    border: none;
    outline: none;
    height: 11px;
    background: #EEF3F7 ;
}

#divSearchbar {
    /*posicionamento*/
    position: absolute;
    left: 42px;

    /*visualização*/
    width: 235px;
    height: 34px;
    border-radius: 4px;
    background: #EEF3F7;  
}

#imgIcons {
    /*visualização*/
    width: 20px;
    height: 20px;
}

#divIcons {
    /*posicionamento*/
    position: absolute;
    display: flex;
    justify-content:center;
    align-items: center;

    /*visualização*/
    width: 290px;
    height: 40px;
    gap: 38px;

}

.divItem {
    /*posicionamento*/
    display: flex;
    flex-direction: column;
    align-items: center;

    /*visualização*/
    width: 20px;
    height: 34px;
    filter: opacity(60%);

}

.divItem:hover {
    filter: opacity(100%);
}

#divIconsAndMini {
    /*posicionamento*/
    position: absolute;
    right: 0px;
    top: -6px;

    /*visualização*/
    width: 350px;
    height: 40px;
}

figure {
    text-align: center;
}

figcaption {
    font-size: 10px;
    width: 58px;
}

#imgMini {
     /*visualização*/
    width: 25.4px;
    height: 25.px;
    border-radius: 50%;
}

#divImgMini {
    /*posicionamento*/
    position: absolute;
    top: 18PX;
    left: 292PX; 
    display: flex;
    flex-direction: column;
    align-items: center;

    /*visualização*/  
    width: 40px;
    height: 40px;

}

span {
    font-size: 10px;
}

/*ESTILOS DA DIV INFORMAÇÕES PESSOAIS
-------------------*/

#divPersonInformations {
    /*posicionamento*/
    position: absolute;
    top: 97px;
    left: 35px;

     /*visualização*/ 
     width: 717px;
     height: 320px;
     background:#FFFFFF;
}

#coverImage {
    /*posicionamento*/
    position: absolute;

    /*visualização*/
    width: 717px;
    height: 135px;
}

#divCoverImage {
    width: 717px;
    height: 135px;
}

#profilePicture {
    /*posicionamento*/
    position: absolute;

    /*visualização*/
    width: 106.64px;
    height: 106.64px;
    border-radius: 50%;
}

#divProfilePicture {
    /*posicionamento*/
    position: absolute;
    left: 31.38px;
    top: 59px;

    /*visualização*/
    width: 106.64px;
    height: 106.64px;
}

#profileName {
    /*posicionamento*/
    position: absolute;
    top: 34px;
    left: 22px;

    /*visualização*/
    font-weight: bold;
    font-size: 18px;
}

#personalData {
     /*posicionamento*/
     position: absolute;
     left: 0px;
     top: 135px;

    /*visualização*/
    width: 717px;
    height: 185px;
}

#positionAndCompany {
    /*posicionamento*/
    position: absolute;
    top: 73px;
    left: 22px;

    /*visualização*/
    font-size: 14px;
}

#fontLocation {
    /*posicionamento*/
    position: absolute;
    left: 22px;
    top: 112px;

    /*visualização*/
    font-size: 12px;
    color: #666666;
}

#divButtons {
    position: absolute;
    width: 717px;
    top: 145px;
    left: 22px;
    gap: 14px;
}

#buttonInterest {
    border-radius: 15px;
    border-color: #0B65C2;
    background: #0B65C2;
    color: #FFFFFF;
    border-width: -1px;
    font-size: 11px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
}

#buttonInterest:hover {
    background: #00008B;
    border-width: -1px;
}

#buttonSections {
    border-radius: 15px;
    background: #FFFFFF;
    color: #666666;
    font-size: 11px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
}

#buttonSections:hover {
    filter: opacity(60%);
}

#buttonMost {
    border-radius: 15px;
    background: #FFFFFF;
    color: #666666;
    font-size: 11px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
}

#buttonMost:hover {
    filter: opacity(60%);
}

/*ESTILOS DA DIV EXPERIÊNCIA E FORMAÇÃO
-------------------*/
#divExpirienceAndFormarion {
      /*posicionamento*/
      position: absolute;
      top: 451px;
      left: 35px;
  
       /*visualização*/ 
       width: 717px;
       height: 535px; 
       background:#FFFFFF;
}